In [61]:
import pandas as pd 

datos = {"Nombre": ["Rodrigo","Viridiana", "Paulino"],
         "Edad": [21,19,20],
         "Estado civil": ["Soltero", "Viuda", "Soltero"]}

df = pd.DataFrame(datos)
df

A= df["Edad"]

print(A)
type(A)

##Puedes declarar series

Colonia = pd.Series(["Candiles","Juriquilla", "Juriquilla"])
Colonia

## Valor maximo de un data frame 
print("Maximo valor", A.max())
print("Valor medio", A)

## Cada columna es una serie ##

0    21
1    19
2    20
Name: Edad, dtype: int64
Maximo valor 21
Valor medio 0    21
1    19
2    20
Name: Edad, dtype: int64

Lectura de datos

In [62]:
import pandas as pd
titanic = pd.read_csv("titanic.csv")

titanic.head(5)
#titanic.tail()
#titanic.dtypes

#Guardar con otra extesion 

#titanic.to_excel("titanic.xlsx", sheet_name="pasajeros", index=False)


## Seleccionar subconjuntos

edad = titanic[["Sex", "Age"]]
edad.shape 



menores = titanic.loc[titanic["Age"]<19, "Survived"]
menores.value_counts()

#clase3 = titanic[titanic["Pclass"].isin([3])]
#clase3
#

1    70
0    69
Name: Survived, dtype: int64

In [72]:
import pandas as pd
#Media
sm = pd.Series([1,1,1,1,1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,5,5,5,5,5,6,6,6,6,7,7,8,17,23,45,89])
sm.mean()
sm.median()

3.0