# Procesamiento de datos con pandas, numpy y visualización con matplotlib

#### Importar librerias

In [24]:
# Pandas una liberia para procesamiento de datos y creación de dataframes

import pandas as pd 

datos = {"Nombre": ["Rodrigo","Viridiana", "Paulino"],
         "Edad": [21,19,20],
         "Estado civil": ["Soltero", "Viuda", "Soltero"]}

df = pd.DataFrame(datos)
df


## Cada columna es una serie ##

      Nombre  Edad Estado civil
0    Rodrigo    21      Soltero
1  Viridiana    19        Viuda
2    Paulino    20      Soltero

In [26]:
## Alamacenar columnas en una variable
A = df["Edad"]
A

0    21
1    19
2    20
Name: Edad, dtype: int64

In [27]:

##Puedes declarar columnas

Colonia = pd.Series(["Candiles","Juriquilla", "Juriquilla"])
Colonia

0      Candiles
1    Juriquilla
2    Juriquilla
dtype: object

##### Funciones utilizables en pandas

In [ ]:
## Valor maximo de un data frame 
print("Mayor edad", A.max())
## media de un dataframe
print("Edad media", A.median())

Lectura de datos

In [22]:
import pandas as pd
titanic = pd.read_csv("titanic.csv")

#print(titanic.head(5))
#print(titanic.tail())
print(titanic.dtypes)

#Guardar con otra extesion

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [16]:
import pandas as pd
#Media
sm = pd.Series([1,1,1,1,1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,5,5,5,5,5,6,6,6,6,7,7,8,17,23,45,89])
sm.mean()
sm.median()

np.float64(3.0)